.container {
  max-width: 1140px;
  margin: 0 auto;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: calc(100vh - 60px);
}

.menu {
  text-align: left;
  width: 270px;
  margin-right: 20px;
  background-color: rgb(78, 208, 218);
  border-radius: 20px;
  padding: 30px 60px;
  line-height: 30px;
}

.content {
  text-align: left;
  flex: 1;
  background-color: green;
  border-radius: 20px;
  padding: 30px 20px;
}

.avatarContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.menuTitle {
  font-weight: 300;
  font-size: 30px;
}

.menu nav {
  margin-top: 20px;
}

.menu a {
  color: #efefef;
  text-shadow: 0 1px #666;
  transition: color 0.3s;
}

.menu ul {
  list-style: none;
}
